@use'../custom'as *;

//gradien mixin
@mixin gradient{
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
}

//absolute center
@mixin absoluteCenter{
     @include media-breakpoint-up(lg) {
         position: absolute;
         top: 50%;
         left: 60%;
         transform: translate(-50%, -50%);
     }
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}